<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯之外，您也可以使用 Web 
    系統管理工具設定您應用程式的設定。使用
    Visual Studio 的 [網站] -> [Asp.Net 設定] 選項。
    設定及註解的完整清單可在 
    machine.config.comments 中找到，這通常位於 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <!-- 
        設定 compilation debug="true" 以將偵錯符號 
        插入編譯的頁面中。因為這會 
        影響效能，所以請只在開發期間，
        將此值設定為 true。
    -->
    <compilation debug="true"/>
    <!--
      <authentication> 區段可讓您設定
      ASP.NET 用來識別連入使用者的 
      安全性驗證模式。 
    -->
    <authentication mode="Windows"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <!--
       <customErrors> 區段可讓您設定
       當執行要求期間發生無法處理
       之錯誤時的處理方式。更明確地說，
       開發人員可以利用它設定要顯示的 
       
       html 錯誤頁面，以取代錯誤堆疊追蹤。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
  </system.web>
</configuration>